.App {
  width: 100vw;
  min-height: 100vh;
  /* background-color: #1D1E28; */
  background-image: url('./images/bg-desktop-light.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.tasklistContainer {
  width: calc(100%/3);
  /* background-color: black; */
  margin-top: 50px;
}

.tasklistContainer h1 {
  color: white;
  /* What is em? */
  letter-spacing: .8em;
  font-size: 40px;
}

.taskInput {
  width: 100%;
  margin-top: 30px;
  border-radius: 5px;
  background-color: white;
}

.taskInput input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  background: none;
  border: none;
  outline: none;
}

@media screen and (max-width:400px) {
  /* Add this to look better on mobile */
  .tasklistContainer {
    width: 100%;
    margin: 20px;
  }

  .tasklistContainer h1 {
    color: white;
    letter-spacing: .5em;
    font-size: 30px;
  }
  
  



}